@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-noto-serif-tc min-w-[23.4375rem];
  }
}

@layer components {
  .h1 {
    @apply text-5xl font-bold leading-1.2 tracking-[0.15rem];
  }
  .h2 {
    @apply text-[2.5rem] font-bold leading-1.2 tracking-[0.125rem];
  }
  .h3 {
    @apply text-[2rem] font-bold leading-1.2 tracking-[0.1rem];
  }
  .h4 {
    @apply text-[1.75rem] font-bold leading-1.2 tracking-[0.0875rem];
  }
  .h5 {
    @apply text-2xl font-bold leading-1.2 tracking-[0.075rem];
  }
  .h6 {
    @apply text-xl font-bold leading-1.2 tracking-[0.0625rem];
  }
  .title {
    @apply text-base font-bold leading-normal tracking-[0.02rem];
  }
  .subtitle {
    @apply text-sm font-bold leading-normal tracking-[0.0175rem];
  }
  .body {
    @apply text-base font-medium leading-normal tracking-[0.02rem];
  }
  .body2{
    @apply text-sm font-medium leading-normal tracking-[0.0175rem];
  }
  .tiny{
    @apply text-xs font-medium leading-normal tracking-[0.015rem];
  }
}

.dot-flashing {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #000;
  color: #000;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -1.75rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #000;
  color: #000;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 1.75rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #000;
  color: #000;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #000;
  }
  50%, 100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}